@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	--bg: #FFF;
	--color-text: #000;
	--font-title: 'Montserrat', sans-serif;
	--font: 'Fira Sans', sans-serif;

	background-color: var(--bg);
}

html[data-theme='dark'] {
	--bg: #000;
	--color-text: #FFF;
}

.container {
	width: 70%;
	margin: auto;
	padding: 3em 0em;
}

.title {
	width: 100%;
	border: none;
	background-color: var(--bg);

	font-size: 2rem;
	font-weight: 600;
	font-family: var(--font-title);
	color: var(--color-text);
}

.content {
	width: 100%;
	height: 60vh;
	resize: none;
	border: none;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	background-color: var(--bg);
	border-radius: 0.5rem;

	font-size: 1rem;
	font-family: var(--font);
	color: var(--color-text);
	line-height: 2rem;
}

.word-count {
	font-family: var(--font);
	font-size: 1rem;
	color: var(--color-text);
}

.home-link {
	text-decoration: none;
	font-family: var(--font);
	font-size: 1rem;
	color: var(--color-text);
	float: right;
}

#download-btn {
	border: 3px solid #55f41a;
	border-radius: 0.35rem;
	background-color: var(--bg);
	padding: 0.5em 1em;

	font-family: var(--font);
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-text);
}

#download-btn:hover {
	background-color: #55f41a;
	color: #fff;
}

#clear-btn {
	border: 3px solid #e84c37;
	border-radius: 0.35rem;
	background-color: var(--bg);
	padding: 0.5em 1em;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;

	font-family: var(--font);
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-text);
}

#clear-btn:hover {
	background-color: #e84c37;
	color: #fff;
}

input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 35px;
	height: 22px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	background: #fcfcfc;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: grey;
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
	background: #333333;
}

label:active:after {
	width: 25px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: all 300ms !important;
	transition-delay: 0 !important;
}
