@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat&display=swap');

:root {
    --black: #000;
    --white: #FFF;
    --primary: #32EDFF;

    --montserrat: 'Montserrat', sans-serif;
    --fira: 'Fira Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--black);
}

.container {
    width: 60%;
    margin: auto;
}

.center-text {
    text-align: center;
}

.logo {
    text-decoration: none;
    font-family: var(--montserrat);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
}

.title {
    font-family: var(--montserrat);
    color: var(--white);
    font-size: 3rem;

    margin-top: 7vh;
}

.text {
    font-family: var(--fira);
    color: var(--white);
    font-size: 1.3rem;
    line-height: 1.7rem;

    margin-bottom: 7vh;
}

.editor-link {
    text-decoration: none;
    font-family: vaR(--montserrat);
    color: var(--primary);
    font-weight: 700;
}

.editor-link:hover {
    text-decoration: underline;
}